apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: secure-support-hub
  labels:
    app: api
spec:
  selector:
    app: api
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
